* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/*Navbar*/
.logo img {
    height: 110px;
    border-radius: 50%;
    box-shadow: #d4af37 0px 0px 50px
}



/*presentacion*/
.arelsentado img {
    height: 400px;
}





/*presentacion*/